/* commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 15px auto;
}

.box {
    width: calc((100% - 30px) / 3);
    float: left;
    margin-bottom: 25px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.mar-15 {
    margin: 0 15px;
}

.box img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: relative;
}

.descrizione {
    line-height: 12px;
}

.box span {
    font-size: 11px;
}

.box h5 {
    font-size: 12px;
    text-transform: uppercase;
    
}

.prezzo-scontato {
    font-weight: bold;
    color: red;
}

.prezzo-originario {
    text-decoration: line-through;
}

/* debug */

.debug.container {
    background-color: lightgrey;
}
